<div>
    <a href="{% url 'home' %}">Home</a>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
        {% if user.groups.all.0.name  == 'Students' or user.groups.all.0.name  == 'Teachers'%}
            <a href="{% url 'grades' %}">show grades</a>
            <a href="{% url 'show_users' %}">show users</a>
            <a href="{% url 'add_grade' %}">add grade</a>
            <a href="{% url 'create_grade_object' %}">add new test</a>
            <a href="{% url 'add_grades' %}">add grade v2</a>
        {% elif user.groups.all.0.name  == 'Admins'%}
            <a href="{% url 'show_users' %}">show users</a>
            <a href="{% url 'register' %}">register new user</a>
            <a href="{% url 'add_subject' %}">add new subject</a>
            <a href="{% url 'assign_subject' %}">assign subject to teacher</a>
        {% endif %}
    {% else %}
        <a href="{% url 'login' %}">login</a>
    {% endif %} 


</div>