<div>
    <a href="{% url 'home' %}">Home</a>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
        {% if user.role.role == 'student' or user.role.role == 'teacher'%}
            <a href="{% url 'grades' %}">show grades</a>
            <a href="{% url 'show_users' %}">show users</a>
            <a href="{% url 'add_grade' %}">add grade</a>
        {% elif user.role.role == 'admin'%}
            <a href="{% url 'show_users' %}">show users</a>
            <a href="{% url 'register' %}">register new user</a>
            <a href="{% url 'add_subject' %}">add new subject</a>
            <a href="{% url 'assign_subject' %}">assign subject to teacher</a>
        {% endif %}
    {% else %}
        <a href="{% url 'login' %}">login</a>
    {% endif %} 


</div>