{% extends 'base.html' %}

{%  block content %}
<table>
    <thead>
    <th>grade</th>
    <th>teacher</th>
    <th>subject</th>
    {% if user.role.role == 'teacher' %}
        <th>Edit</th>
        <th>Delete</th>
        {% endif %}
    </thead>
    <tbody>
    {% for grade in grades %}
        <tr>
            <td>{{ grade.grade }}</td>
            <td>{{ grade.teacher }}</td>
            <td>{{ grade.subject }}</td>
        {% if user.role.role == 'teacher' %}
        <td>E</td>
        <td>D</td>
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}