{% extends 'base.html' %}

{%  block content %}
    <form method="get">
        <input type="text" name="name">
        <input type="submit">
    </form>
<table>
    <thead>
    <th>grade</th>
    <th>user</th>
    <th>subject</th>
    {% if user.role.role == 'teacher' %}
        <th>Edit</th>
        <th>Delete</th>
        {% endif %}
    </thead>
    <tbody>
    {% for grade in grades %}
        <tr>
            <td>{{ grade.grade }}</td>
        {% if user.role.role == 'student' %}
            <td>{{ grade.teacher }}</td>
            <td>{{ grade.subject }}</td>
        {% elif user.role.role == 'teacher' %}
            <td>{{ grade.student }}</td>
            <td>{{ grade.subject }}</td>
            <td><a href="{% url 'edit_grade' grade.id %}">Edit</a></td>
            <td><a href="{% url 'delete_grade' grade.id %}">Delete</a></td>
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}