{% extends 'base.html' %}

{%  block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'tooltip.css' %}">
    <script src="{% static 'tooltips.js' %}"></script>
    <form method="get">
        <input type="text" name="name">
        <input type="submit">
    </form>
<table>
    <thead>
    <th>grade</th>
    <th>user</th>
    <th>subject</th>
    {% if user.groups.all.0.name  == 'Teachers' %}
        <th>Edit</th>
        <th>Delete</th>
        {% endif %}
    </thead>
    <tbody>
    {% for grade in grades %}
        <tr>
            {% if grade.description != None %}
                <td class="tooltip"
                    data-tooltip="teacher: {{ grade.teacher }}
{{ grade.description }}">{{ grade.grade }}</td>
            {% else %}
                <td class="tooltip" data-tooltip="{{ grade.teacher }}">{{ grade.grade }}</td>
            {% endif %}
        {% if user.groups.all.0.name  == 'Students' %}
            <td>{{ grade.teacher }}</td>
            <td>{{ grade.subject }}</td>
        {% elif user.groups.all.0.name  == 'Teachers' %}
            <td>{{ grade.student }}</td>
            <td>{{ grade.subject }}</td>
            <td><a href="{% url 'edit_grade' grade.id %}">Edit</a></td>
            <td><a href="{% url 'delete_grade' grade.id %}">Delete</a></td>
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}