{% extends 'base.html' %}

{%  block content %}

<div style="display: inline">
    <form method="get" style="display: inline">
        <p style="display: inline"><label>name: </label><input type="text" name="name"></p>
        <p style="display: inline"><label>
            role:
            <select name="role">
                <option value="">---------</option>
                <option value="admin">Admin</option>
                <option value="teacher">Teacher</option>
                <option value="student">Student</option>
        </select>
        </label></p>
        <p style="display: inline"><input type="submit" value="filter"></p>
    </form>
</div>
<div>
    <table>
        <thead>
        <td>name</td>
        <td>role</td>
        {% if request.user.role|lower == "admin" %}
            <td></td>
            <td></td>
        {% endif %}
        </thead>
        {% for u in users %}
            <tr>
                <td>{{ u.first_name }} {{ u.last_name }}</td>
                <td>{{ u.role }}</td>
                {% if request.user.role|lower == "admin" %}
                <td><a href="{% url 'edit_user' u.id %}">edit</a></td>
                <td><a href="{% url 'delete_user' u.id %}">delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}