{% extends 'base.html' %}

{%  block content %}

<div style="display: inline">
    <form method="get" style="display: inline">
        <p style="display: inline"><label>name: </label><input type="text" name="name"></p>
        <p style="display: inline"><label>
            group:
            <select name="group">
                <option value="">---------</option>
                <option value="admins">Admins</option>
                <option value="teachers">Teachers</option>
                <option value="students">Students</option>
        </select>
        </label></p>
        <p style="display: inline"><input type="submit" value="filter"></p>
    </form>
</div>
<div>
    <table>
        <thead>
        <td>name</td>
        <td>group</td>
        {% if request.user.groups.all.0.name == "Admins" %}
            <td></td>
            <td></td>
        {% endif %}
        </thead>
        {% for u in users %}
            <tr>
                <td>{{ u.first_name }} {{ u.last_name }}</td>
                <td>{{ u.groups.all.0.name }}</td>
                {% if user.groups.all.0.name  == 'Admins' %}
                <td><a href="{% url 'edit_user' u.id %}">edit</a></td>
                <td><a href="{% url 'delete_user' u.id %}">delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}