{% extends 'base.html' %}

{%  block content %}
<div>
<table>
    <thead>
    <td>first name</td>
    <td>last name</td>
    <td>role</td>
    {% if user.role == 'admin' %}
    <td></td>
    <td></td>
    {% endif %}
    </thead>
    {% for u in users %}
        <tr>
            <td>{{ u.first_name }}</td>
            <td>{{ u.last_name }}</td>
            <td>{{ u.role }}</td>
            {% if user.role == 'admin' %}
            <td>edit</td>
            <td>delete</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
</div>
{% endblock %}